// -----------------------------------------------------------------------------
// This file contains all @keyframes animations.
// -----------------------------------------------------------------------------

// Slide up
// ==========================================================================

// Used by texts.

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

// Slide up out
// ==========================================================================

// Used by "greeting".

@keyframes slide-up-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

// Slide left
// ==========================================================================

// Used by project links.

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

// Slide down
// ==========================================================================

// Used by prelude.
// Used by header nav.

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

// Slide down out
// ==========================================================================

// Used by prelude.

@keyframes slide-down-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}

// Fade out
// ==========================================================================

// Used by tab panel "hide" class.

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Zero to full width
// ==========================================================================

// Used by the underline of "contact" heading.

@keyframes zero-to-full-width {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

// Prelude Animations
// ==========================================================================

@keyframes prelude-animation {
  from {
    transform: translateY(-120px) rotateY(360deg) scale(0);
  }

  to {
    transform: translateY(0) rotateY(0deg) scale(1);
  }
}

// Project image animation
// ==========================================================================

@keyframes project-image-animation {
  from {
    transform: scale(0) rotate(-90deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}

// Swiper button animation
// ==========================================================================

@keyframes swiper-button-animation {
  from {
    right: 40px;
    letter-spacing: 20px;
    opacity: 0;
  }

  to {
    right: 0;
    letter-spacing: inherit;
    opacity: 1;
  }
}
