// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Lists
// ==========================================================================

// Reset-list keeps list items block level, just removes default browser
// list-style, padding and margin.

@mixin reset-list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

// Animations
// ==========================================================================

// Animation standard styles.

@mixin animation-std-style($fill-mode) {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: $fill-mode;
}
