// -----------------------------------------------------------------------------
// This file contains all the spacers classes.
// -----------------------------------------------------------------------------

// Margins
// ==========================================================================

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

// Paddings
// ==========================================================================
