// -----------------------------------------------------------------------------
// This file contains all the styles related to the "Contact" section of the site.
// -----------------------------------------------------------------------------

@use "../abstracts" as *;

.contact {
  // Divisions.

  > div {
    overflow: hidden;
  }

  // Heading.

  h2 {
    max-width: 660px;
    position: relative;
    animation-name: slideUp;
    @include animation-std-style(backwards);

    // After

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $black;
      animation-name: zeroToFullWidth;
      @include animation-std-style(backwards);
      animation-delay: 1.6s;
    }
  }

  // Paragraphs.

  p {
    animation-name: slideUp;
    @include animation-std-style(backwards);
  }

  // Links.

  a {
    display: inline-block;
    animation-name: slideUp;
    @include animation-std-style(backwards);
  }
}
