// -----------------------------------------------------------------------------
// This file contains all the styles related to the "Contact" section.
// -----------------------------------------------------------------------------

@use "../utilities" as *;

// Contact
// ==========================================================================

.contact {
  // Rules for medium screen sizes and up.

  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    // Div.

    > div {
      grid-column: 2 / span 4;
    }
  }

  // Div.
  // ==========================================================================

  > div {
    overflow: hidden;

    // Div containing svg.

    &:has(svg) {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  // Heading.
  // ==========================================================================

  h2 {
    position: relative;
    max-width: 600px;
    padding-bottom: 10px;

    // After.

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
      animation-name: zero-to-full-width;
      @include animation-std-style(backwards);
      animation-delay: 1s;
    }
  }

  // Svg
  // ==========================================================================

  svg {
    $size: 28px;

    width: $size;
    height: $size;
    fill: currentColor;
  }

  // Animation
  // ==========================================================================

  h2,
  p,
  svg,
  a {
    animation-name: slide-up;
    @include animation-std-style(backwards);
  }
}
