// -----------------------------------------------------------------------------
// This file contains all the styles related to the "Contact" section.
// -----------------------------------------------------------------------------

@use "../utilities" as *;

// Contact
// ==========================================================================

.contact {
  // Div.

  > div {
    overflow: hidden;
  }

  // Heading.

  h2 {
    position: relative;
    max-width: 600px;
    padding-bottom: 10px;
    animation-name: slide-up;
    @include animation-std-style(backwards);

    // After.

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
      animation-name: zero-to-full-width;
      @include animation-std-style(backwards);
      animation-delay: 1s;
    }
  }

  // Paragraph.

  p {
    animation-name: slide-up;
    @include animation-std-style(backwards);
  }

  // Link.

  a {
    display: inline-block;
    animation-name: slide-up;
    @include animation-std-style(backwards);
  }

  // Rules for medium screen sizes and up.

  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    // Div.

    > div {
      grid-column: 2 / span 4;
    }
  }
}
