// -----------------------------------------------------------------------------
// This file contains all the styles related to the footer section.
// -----------------------------------------------------------------------------

@use "../utilities" as *;

// Footer
// ==========================================================================

footer {
  height: 34px;

  // Container.
  // ==========================================================================

  .container {
    overflow: hidden;
  }

  // Paragraph.
  // ==========================================================================

  p {
    padding-bottom: 10px;
    animation-name: slide-up;
    @include animation-std-style(backwards);

    // First letter

    &::first-letter {
      font-size: 20px;
      line-height: 1;
      vertical-align: -1px;
    }
  }
}
