// -----------------------------------------------------------------------------
// This file contains all the styles related to the header section.
// -----------------------------------------------------------------------------

@use "../utilities" as *;

// Header
// ==========================================================================

header {
  height: 49px;

  // Container.

  .container {
    overflow: hidden;

    // Nav tag.

    nav {
      animation-name: slideDown;
      @include animation-std-style(backwards);
    }
  }
}
