// -----------------------------------------------------------------------------
// This file contains all the styles related to the main section.
// -----------------------------------------------------------------------------

@use "../utilities" as *;

// Tab panels
// ==========================================================================

.tab-panel {
  // Not active.

  &:not(.active) {
    display: none;
  }

  // Hide

  &.hide {
    opacity: 0;
    transition: opacity 400ms ease-out;
  }
}
