// -----------------------------------------------------------------------------
// This file contains all the styles related to the "Work" section.
// -----------------------------------------------------------------------------

@use "../utilities" as *;

// Swiper
// ==========================================================================

.swiper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-content: center;
  min-height: 620px;
}

// Swiper slide
// ==========================================================================

.swiper-slide {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 40px;

  @media (min-width: $xlarge) {
    grid-template-columns: 1fr 1fr;
  }

  // Active slide.

  &-active {
    // Add animation to texts.

    .description {
      .project-type,
      .project-title,
      .project-commentary,
      ul li div {
        animation-name: slide-up;
        @include animation-std-style(backwards);
        animation-delay: 400ms;
      }

      // Add animation to links.

      > div > a {
        animation-name: slide-left;
        @include animation-std-style(backwards);
        animation-delay: 400ms;
      }
    }
  }
}

// Project image
// ==========================================================================

.swiper-slide {
  .project-image {
    display: grid;
    place-items: center;
    padding: 20px;

    // Image

    img {
      width: min(100%, 460px);
      border-radius: 20px;
      box-shadow: $box-shadow;
    }
  }

  // Active slide - Image

  &-active {
    .project-image img {
      animation-name: project-image-animation;
      @include animation-std-style(backwards);
      animation-delay: 400ms;
    }
  }
}

// Project description
// ==========================================================================

.description {
  // Div & list item.

  > div,
  ul li {
    width: fit-content;
    overflow: hidden;
  }

  // Project type.

  .project-type {
    display: block;
  }

  // Project title.

  .project-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  // Project commentary.

  .project-commentary {
    max-width: 720px;
  }

  // Project process.

  ul {
    list-style-type: none;
    margin-block: 40px;
    padding-left: 0;
    display: grid;
    gap: 10px;

    // List item

    li {
      text-transform: capitalize;
    }
  }
}
